body {
  margin: 0;
  font-family: 'Lora', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography assignments */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

a, button, nav, .nav {
  font-family: "proxima-nova", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
